* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#color-container {
  display: flex;
  justify-content: center;
  align-content: space-around;
  gap: 20px;
}

.ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 3px 4px 8px #101d30;
}
