* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#color-container {
  display: flex;
  justify-content: center;
  align-content: space-around;
  gap: 20px;
}

.ball {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
}
