* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rammetto One', cursive;
  font-weight: 300;
  background-color: rgb(222, 248, 242);
}

header {
  text-align: center;
  margin: 20px 0;
  font-size: 2rem;
  color: rgb(48, 87, 74);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rgb-color {
  margin: 10px 0;
  font-size: 1.8rem;
  color: rgb(77, 73, 73);
}

.score-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: 1.4rem;
  color: red;
}

#color-container {
  display: flex;
  justify-content: center;
  align-content: space-around;
  gap: 20px;
  margin: 10px 0;
}

.ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 3px 4px 8px #101d30;
}

#answer {
  margin-top: 20px;
  font-size: 2.5rem;
}

.answer-correct {
  color: darkgreen;
}

.answer-wrong {
  color: red;
}

#reset-game {
  margin: 30px 0;
  padding: 20px;
  font-size: 1.3rem;
  border: none;
  background-color: cornflowerblue;
  color: rgb(0, 33, 94);
  cursor: pointer;
}

#reset-game:hover {
  transition: 0.3s;
  background-color: rgb(21, 93, 226);
  color: aliceblue;
}
